.section_SideBySide .Rectangle .crop img {
    display: none; }

.c-team-detail__h1--moonlight {
    color: #830C2C;
}


.c-team-detail__h2--moonlight {
    color: #830C2C;
}

.c-team-detail__h3--moonlight {
    color: #830C2C;
}

.fa {
    color: #605F5F;
}

.fa-phone__team--moonlight {
    color: #605F5F;
}

.c-team-detail__a--moonlight {
    color: #830C2C;
}